@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&family=Noto+Sans:wght@400;600&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans 600', sans-serif;
  text-transform: uppercase;
  color: rgba(229, 183, 103);
}

body {
  background-image: url("../images/background.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
}

.wrapper {
  box-sizing: border-box;
  width: 60%;
  margin: 2rem auto;
  padding: 1rem;
  background-color: rgba(46,27,48, 0.6);
  border-radius: 0.5em;
}

h1 {
  font-family: 'Londrina Shadow', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
  color:  rgba(46,27,48,0.7);
  background-color: rgba(229, 183, 103);
  width: 60%;
  border-radius: 0.5rem;
  margin: 0 auto;
  padding: 0.5rem;
  margin-top: 2.5rem;
  text-align: center;
  letter-spacing: 0.1rem;
}

.start {
  color:  rgba(46,27,48, 0.9);
  background-color: rgba(229, 183, 103);
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  display: flex;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.start:hover {
  cursor: pointer;
  color: rgba(46,27,48, 0.9);
  background-color: white;
}

.control-area li {
  list-style-type: none;
  text-align: center;
  clear: both;
}

.score {
  margin-bottom: 2rem;
  display: flex;
}

.game-container {
  display: grid;
  grid-template-columns: repeat(4,8rem);
  grid-template-rows: repeat(4,8rem);
  grid-gap: 1rem;
  justify-content: center;
  perspective: 800px;
}

.tile{
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.face, 
.back {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  position: absolute;
  pointer-events: none;
}

.back {
  background-image: url("../images/gabbyslogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  backface-visibility: hidden;
}

.toggleTile{
  transform: rotateY(180deg);
}

/* How to play section */

button.rules , button.control {
  background-color: transparent;
  box-shadow: none;
  border: none;
  cursor: pointer;
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

button.rules:hover, button.control:hover {
color: aliceblue;
}

.rules-container {
  box-sizing: border-box;
  position: absolute;
  width: 60%;
  height: 100vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 0.5em;
  background-color: rgba(229, 183, 103);
  display: none;
}

.rules-container h1 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1.5rem;
  color: rgba(46,27,48, 0.9);
  letter-spacing: normal;
  margin-bottom: 2rem;
}

.rules-container li {
  color: rgba(46,27,48, 0.7);
  text-transform: none;
  list-style-type: none;
  text-align: center;
  padding: 1rem;
}

 button.lets-go, button.new-game {
  color: rgba(229, 183, 103);
  background-color:rgba(46,27,48, 0.9);
  border-radius: 1.6rem;
  padding: 0.8rem 1.6rem;
  border: none;
  font-size: 1.2rem;
  letter-spacing: 0.03rem;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 2rem;
  cursor: pointer;
}

/*Win the Game*/

.win {
  display: none;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 0.5em;
  background-color: rgba(229, 183, 103);
}

a#error {
  background-color: rgba(46,27,48, 0.9);
  font-family: 'Londrina Shadow', sans-serif;
  text-decoration: none;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer p {
  font-size: 0.75rem;
  padding: 0.5rem;
  line-height: 25px;
  width: 60%;
  border-radius: 0.5rem;
  text-transform: none;
  color:rgba(46,27,48, 0.9);
  background-color:  rgba(255, 255, 255, 0.8);
}

footer i {
  color:rgba(46,27,48, 0.9);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.5rem;
  border-radius: 1rem;
}




/* Media queries */

/* For small screen sizes */

@media only screen and (min-width: 320px)
and (max-width:800px){
  body {
    background-image: url('../images/background_mobile.jpg');
    background-position: 5%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }

  .wrapper {
    margin: 1rem auto;
    width: 90%;
    padding: 0.5rem;

  }

  .score{
    font-size: 0.5rem;
  }

  h1 {
    font-size: 0.75rem;
    width: 90%;
  }

  .game-container {
    display: grid;
    grid-template-columns: repeat(4,4.5rem);
    grid-template-rows: repeat(4,4.5rem);
    grid-gap: 0.5rem;
    perspective: 800px;
  }

  .start, .control {
    font-size: 0.7rem;
    padding: 0.4rem 0.8rem;
    margin-bottom: 0.75rem;
  }

  button.rules, button.control {
    font-size: 0.5rem;
    margin-bottom: 0;
  }

  .rules-container {
    width: 90%;
  }

  button.lets-go {
    font-size: 0.5rem;
  }

  .rules-container h1 {
    font-size: 1rem;
  }

  footer p {
    width: 90%;
    font-size: 0.5rem;
  }
}

/* For medium screen sizes */

@media only screen and (min-width: 820px)
and (max-width:1400px){
  body {
    background-image: url('../images/background_mobile.jpg');
    background-position: 5%; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
  }

  .wrapper {
    margin: 2rem auto;
    width: 75%;
    padding: 1em;
  }

  h1 {
    font-size: 2.5rem;
    width: 75%;
  }

  .rules-container {
    width: 75%;
  }

  footer p {
    width: 75%;
    font-size: 0.5rem;
  }
}




